.mainbody__div {
    width: 95%;
}

.progress__menu {
    margin-top: 100px;
    margin-bottom: 60px;
    background: #FFF;
    box-shadow: 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.progress__item {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 20px;
}
.progress__item p{
    padding: 45px 4px;
    width: 24%;
    margin: 0;
    transition: 0.1s;
    text-align: center;
    position: relative;
    cursor: pointer;
}
/* .progress__item p:hover{
    background-color: #00635B;
    color: white;
} */
.progress__item p.active{
    background-color: #00635B;
    color: white;
}
.progress__item p::after{
    position: absolute;
    content: "";
    width: 25px;
    height: 25px;
    background-color: #00635B;
    top: 50%;
    right: 2px;
    transform: rotate(45deg) translateY(-50%);
    transition: 0.8s;
    display: none;
}
/* .progress__item p:hover::after{
    display: block;
} */
.progress__item p.active::after{
    display: block;
}

.upload__image__section {
    width: 45%;
    margin-left: 60px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 3px 3px 14px 0px rgba(190, 190, 190, 0.30);
    margin-bottom: 50px;

}

.box__header {
    border-radius: 20px 20px 0px 0px;
    background: #D0F7FA;
}

.box__header>p {
    padding: 20px 40px;
    font-size: 25px;
    font-weight: 600;
}

.drag__drop {
    padding: 40px 40px 60px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box__footer {
    padding: 40px;
    font-size: 15px;
    font-weight: 600;
}

.box__footer>p {
    cursor: pointer;
    color: #A80000;
}

.personal__form__section {
    width: 45%;
    margin-left: 60px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 3px 3px 14px 0px rgba(190, 190, 190, 0.30);
    margin-bottom: 50px;
}

form {
    padding: 40px;
    display: flex;
    flex-direction: column;
}

label {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.dial__style{
    font-size: 15px;
}

form>input {
    border: none;
    outline: none;
    border-bottom: 1px solid grey;
    margin-bottom: 20px;
}
.submit__btn{
    background-color: #087B2F;
    color: #F4FBF7;
    border: none;
    width: 59px;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
.customize__input {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.control__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add__question__label {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    margin-top: 30px;
}

.question__Preview {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question__Preview>p {
    color: #979797;
    font-size: 14px;
    font-weight: 500;
}

.question__Preview>h3 {
    font-size: 25px;
    font-weight: 600;
    padding-right: 50px;
}

.question__Preview>i {
    font-size: 18px;
    margin-bottom: 20px;
}

.add__question {
    display: flex;
    margin-left: 20px;
    align-items: center;
    cursor: pointer;
    width: fit-content;
}

.add__question i {
    margin-right: 15px;
    font-weight: bold;
    font-size: 18px;
}

.add__question h4 {
    font-weight: 600;
    font-size: 15px;
}

.label {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
    display: block;
}

.paragraph {
    padding: 0px 40px 30px 40px;
}

.input{
    width: calc(100% - 20px);
    height: 30px;
    padding: 10px;
    border: 1px solid black;
    outline: none;
    border-radius: 5px;
}

.choice__input{
    width: calc(100% - 20px);
    height: 30px;
    padding: 10px;
    border: 1px solid #979797;
    outline: none;
    border-radius: 5px;
}

.delete__save{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.delete{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.delete > i{
    margin-right: 15px;
    font-weight: bold;
    font-size: 18px;
    color: #A80000;
}
.delete h4{
    font-weight: 600;
    font-size: 15px;
    color: #A80000;
}

.delete__save button{
    background-color: #087B2F;
    color: #F4FBF7;
    border: none;
    width: 59px;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
}

.multi{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.multi i{
    width: 5%;
    margin: 0 8px;
}
.multi .input{
    width: 90%;
}
.check{
    display: flex;
    align-items: center;
    margin-top: 25px;
}
.check input{
    width: 10px;
    height: 10px;
    margin-right: 15px;
}
.questions{
    padding: 25px 50px;
}
.questions .question{
    margin-bottom: 50px;
    position: relative;
}
.questions .question:not(:last-child)::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    left: 0;
    bottom: -25px;
    background-color: #C4C4C4;
}
.questions .question span{
    font-size: 14px;
    font-weight: 500px;
    color: #979797;
}
.questions .question .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.questions .question .content p{
    font-size: 20;
    font-weight: 600;
    color: black;
    width:85%;
    line-height: 23px;
}
.questions .question .content i{
    width:5%;
}

@media(max-width:1200px){
    .upload__image__section , .personal__form__section{
        width: 49%;
    }
}

@media(max-width:992px){
    .upload__image__section , .personal__form__section{
        width: 62%;
    }
    .progress__item p{
        width: 23%;
    }
}


@media(max-width:769px){
    .upload__image__section , .personal__form__section{
        width: 80%;
    }
    .progress__item p{
        padding: 45px 3px;
    }
}
@media(max-width:577px){
    .upload__image__section , .personal__form__section{
        width: 100%;
        margin-left: 0;
    }
    .progress__item p{
        padding: 45px 55px;
        font-size: 14px;
        font-weight: bold;
    }
}